.hemititle{

    color: sienna;
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    color: sienna;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4{
    color: sienna;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h6{
    color: sienna;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}